.destination{
    display: flex;
    margin: 10vh 15vh ;
    border-top: 1px solid gray;
    position: absolute;
    width: 85%;
}.map{
    margin: 4vh 0 0 5vh;
    border: none;
    border-radius: 2vh;
    width: 130vh;
}
.location-search{
    background-color: lightgray;
    margin-top: 4vh;
    width: 50vh;
    padding: 5vh;
    border-radius: 2vh;
}
.location-search input{
    margin-bottom: 2vh;
    width:44vh ;
    height: 2vh;
    padding: 3vh;
    border: none;
    border-radius: 1vh;
}
.location-search button{
    background-color: orangered;
    width:50vh ;
    height: 5vh;
    border: none;
    border-radius: 1vh;
}
.from-to{
    margin-top: 2vh;
    padding: 3vh 0;
    background-color:orangered;
    color: white;
    font-size: 20px;
    border-radius: 2vh;
}
.vertical-line{
    height: 8vh;
    width: 2px;
    background-color: white;
    position: absolute;
    top: 16.5vh;
    left: 8.5vh;
}
.available-vehicle{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: #fff;
    border-radius: 1vh;
    padding: 2vh 5vh;
    font-size: large;
    margin-top: 2vh;
}
.available-vehicle img{
   width: 8vh;
}
.available-vehicle h5{
    display: flex;
    align-items: center;
}
@media screen and (max-width: 600px){
    .destination{
        display: block;
        margin: 10vh 9vh ;
        border-top: 1px solid gray;
        position: absolute;
        width: 85%;
    }.map{
        margin: 4vh 0 0 0;
        border: none;
        border-radius: 2vh;
        width: 60vh;
    }
}
